<!DOCTYPE html>  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBNB</title>
    <script src="script.js"></script>
    <link href = "style.css" mime_type = "text/css" rel = "stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet" />
    <link href="Images/mbnb-logo.png" rel="icon"/>
</head>
<body>
<div class= "Room_Content">
 {{>Header user}}  
    
     {{#if errorMsg}}
          <h2 class ="usermsg">{{errorMsg}}</h2>
         

         {{else}}
    <ul id= "Rental_Content">
{{#if hasRooms}}
       {{#each room}} 
        <li><form action= "/detail-form" method= "POST" ><img src={{ImgURL}} alt="Room 1" >
        <input type="hidden" id="RID" name="roomID" value={{RoomID}}>
          <h4 class = "subtitles" name="rt">{{RoomTitle}}</h4>
        <h2 >{{Location}}</h2>
        <h2>{{Description}}</h2>
         <label id= "checkin" for="Check_in">Check in:  <input type="date" id="Check_in" name="Check_in"></label>      
         <label id = "checkout" for="Check_out">Check out: <input type="date" id="Check_out" name="Check_out"></label>   
        <h3>${{Price}}CAD/NIGHT</h3>
       <input id = "submit" type="submit" value="Book Now">
       </form>
       </li>
       <!-- <ol><li class = "booknow"><a href="/Room/Describe/{{RoomID}}">Book now </a></li></ol>-->
      
        {{/each}}
        {{else}}
      <h3 class = "usermsg">No Room Data was found</h3>
       {{/if}}
    </ul>
{{/if}}
        {{#if hasRooms}}
          {{> Footer}}
          {{else}}
         {{> Util_Footer}}
          {{/if}}
          <div class = "Modal" id = "Registration">
            <form id="RegForm" action ="/Reg-form-process" name="Reg" onsubmit="return RegValid()" method="POST"><!--enctype="multipart/form-data"-->
              <label for="Email">Email</label>
           <input class= "reg_form" id="email" name ="emailname" type="text" placeholder="Email address">
           <label for="First">First</label>
           <input class= "reg_form"  id= "First" name="Fname" type ="text" placeholder = "First name">
           <label for="Last">Last</label>
           <input class= "reg_form" id = "Last" name ="Lname" type = "text" placeholder = "Last name">
           <label for="Pass">Password</label>
           <input class= "reg_form" id ="pswd" name= "Password" type ="password" placeholder = "Create a password">
           <h5>Must be 6-12 characters long and contain a number</h5>
           <h3>Birthday</h3>
           <h5>To sign up, you must be 18 years of age</h5>
           <input class = "reg_form" list="Months" name="Month" id="Month" placeholder="Month" >
           <datalist id="Months">
            <option value='Jan'>Jan</option>
            <option value='Feb'>Feb</option>
            <option value='Mar'>Mar</option>
             <option value='Apr'>Apr</option>
            <option value='May'>May</option>
            <option value='June'>June</option>
           <option value='July'>July</option>
          <option value='Aug'>Aug</option>
          <option value='Sep'>Sep</option>
          <option value='Oct'>Oct</option>
          <option value='Nov'>Nov</option>
          <option value='Dec'>Dec</option>
           </datalist>
           <input class= "reg_form"  type ="text" name = "Day" placeholder = "Day" id="Day">
           <input class= "reg_form"  type ="text" name = "Year" placeholder = "Year" id="Year">
         <input id= "submitmodal" type = "submit">
         <div id= 'RegError'></div>
         </form>
          </div>
          <!--<div class = "Modal2" id = "Logins">
            <form id= "loginForm" onsubmit=" return LoginValid()"  name ="login">
             <label for="Email">Email</label>
            <input class= "log_form" id= 'LogEmail' type="text" placeholder="Email address">
            <label for="Pass">Password</label>
            <input class= "log_form" id = 'Logpswd' type = "password" placeholder = "Password">
            <input id= "loginmodal" type = "submit">
            <div id= 'LogError'></div>
                </form>  
            </div>-->
            
            <!--div class = "Modal3" id = "Buynows">
              <form id= "Buy_Form" action="Thank_you" >
               <label for="Email">Email</label>
              <input class= "buy_now" type="email" placeholder="Email address">
              <label id= "checkin" for="Check_in">Check in:</label>
              <input type="date" id="Check_in" name="Check_in">
              <label id = "checkout" for="Check_out">Check out:</label>
              <input type="date" id="Check_out" name="Check_out">
              <label id= "Payment" for="Payment">Payment Type</label>
           <input class = "payment_method" list="Types" name="payment" id="pay_type" placeholder="payment" >
           <datalist id="Types">
            <option value='Visa'>Visa</option>
            <option value='Mastercard'>Mastercard</option>
            <option value='Paypal'>Paypal</option>
            
           </datalist>
              <input id= "buynowmodal" type = "submit" value =" Pay now">
              <div id= 'LogError'></div>
              </form>-->
              </div>
       </div>
</body>
</html>